## Accessing Data Cube
To begin, run following in terminal:
$ module load agdc-py3-prod



Then run 'jupyter notebook' from same terminal.

In [3]:
%matplotlib inline
import datacube
import pandas
pandas.set_option('display.max_colwidth', 200)
pandas.set_option('display.max_rows', None)
from datacube.storage.masking import mask_invalid_data

In [2]:
#app is a note to let GA know what we are doing with it, user-defined
#when loading data, #make sure data is on same coordinate scale or convert 
dc=datacube.Datacube(app='learn-data-access')
dc

Datacube<index=Index<db=PostgresDb<engine=Engine(postgresql://jbw156@130.56.244.105:6432/datacube)>>>

In [4]:
products = dc.list_products()
products.columns.tolist()

['name',
 'description',
 'orbit',
 'platform',
 'gsi',
 'gqa_mean_xy',
 'gqa_iterative_stddev_xy',
 'ancillary_quality',
 'gqa_stddev_xy',
 'time',
 'gqa_abs_xy',
 'sat_path',
 'gqa_cep90',
 'sat_row',
 'format',
 'lat',
 'instrument',
 'lon',
 'gqa_error_message',
 'product_type',
 'gqa',
 'gqa_abs_iterative_mean_xy',
 'gqa_final_gcp_count',
 'gqa_iterative_mean_xy',
 'gqa_ref_source',
 'crs',
 'resolution',
 'tile_size',
 'spatial_dimensions']

In [17]:
display_columns = ['name', 'description', 'platform', 'product_type', 'instrument', 'crs', 'resolution']
# #list only nbar products
nbar_list = products[products['product_type'] == 'nbar'][display_columns].dropna()
# productlist = products[display_columns].dropna()
productlist

,name,description,platform,product_type,instrument,crs,resolution
id,,,,,,,
6,ls5_nbar_albers,"Landsat 5 Surface Reflectance NBAR 25 metre, 100km tile, Australian Albers Equal Area projection (EPSG:3577)",LANDSAT_5,nbar,TM,EPSG:3577,"[-25, 25]"
21,ls7_nbar_albers,"Landsat 7 Surface Reflectance NBAR 25 metre, 100km tile, Australian Albers Equal Area projection (EPSG:3577)",LANDSAT_7,nbar,ETM,EPSG:3577,"[-25, 25]"
19,ls8_nbar_albers,"Landsat 8 Surface Reflectance NBAR 25 metre, 100km tile, Australian Albers Equal Area projection (EPSG:3577)",LANDSAT_8,nbar,OLI_TIRS,EPSG:3577,"[-25, 25]"
60,ls8_nbar_oli_albers,"Landsat 8 Surface Reflectance NBAR 25 metre, 100km tile, Australian Albers Equal Area projection (EPSG:3577)",LANDSAT_8,nbar,OLI,EPSG:3577,"[-25, 25]"

In [6]:
measurements = dc.list_measurements()
measurements.columns.tolist()

['aliases',
 'dtype',
 'flags_definition',
 'name',
 'nodata',
 'spectral_definition',
 'units']

In [20]:
display_columns = ['units', 'nodata', 'aliases']
# display meausrements for one product
measurements[display_columns].loc['ls8_nbar_albers']

                units nodata                    aliases
measurement
coastal_aerosol     1   -999  [band_1, coastal_aerosol]
blue                1   -999             [band_2, blue]
green               1   -999            [band_3, green]
red                 1   -999              [band_4, red]
nir                 1   -999              [band_5, nir]
swir1               1   -999            [band_6, swir1]
swir2               1   -999            [band_7, swir2]

In [21]:
#display measurements in all nbar products
m_list = nbar_list.name.tolist() #list of nbar measurements
measurements[display_columns].loc[m_list]

                                    units nodata                    aliases
product             measurement
ls5_nbar_albers     blue                1   -999             [band_1, blue]
                    green               1   -999            [band_2, green]
                    red                 1   -999              [band_3, red]
                    nir                 1   -999              [band_4, nir]
                    swir1               1   -999            [band_5, swir1]
                    swir2               1   -999            [band_7, swir2]
ls7_nbar_albers     blue                1   -999             [band_1, blue]
                    green               1   -999            [band_2, green]
                    red                 1   -999              [band_3, red]
                    nir                 1   -999              [band_4, nir]
                    swir1               1   -999            [band_5, swir1]
                    swir2               1   -999            [band_7, swir2]
ls8_nbar_albers     coastal_aerosol     1   -999  [band_1, coastal_aerosol]
                    blue                1   -999             [band_2, blue]
                    green               1   -999            [band_3, green]
                    red                 1   -999              [band_4, red]
                    nir                 1   -999              [band_5, nir]
                    swir1               1   -999            [band_6, swir1]
                    swir2               1   -999            [band_7, swir2]
ls8_nbar_oli_albers coastal_aerosol     1   -999  [band_1, coastal_aerosol]
                    blue                1   -999             [band_2, blue]
                    green               1   -999            [band_3, green]
                    red                 1   -999              [band_4, red]
                    nir                 1   -999              [band_5, nir]
                    swir1               1   -999            [band_6, swir1]
                    swir2               1   -999            [band_7, swir2]

In [24]:
query = {
    'time': ('2000-01-01', '2017-12-31'),
    'lat': (-30, -36),
    'lon': (146.0, 147.0),
}

In [25]:
# ## attempt MODIS
# #2 stars unpack the limits of our query, we load specific measurements from a product
# data = dc.load(product='modis_mcd43a3_tile', measurements=['BRDF_Albedo_Band_Mandatory_Quality_Band1', 'Nadir_reflectance_Band2', 'Nadir_reflectance_Band3'], **query)
# #mask invalid data removes clouds/shadows
# data = mask_invalid_data(data)
# data

<xarray.Dataset>
Dimensions:  ()
Data variables:
    *empty*

In [ ]:
# attempt landsat
#2 stars unpack the limits of our query, we load specific measurements from a product
data = dc.load(product='ls5_nbar_albers', measurements=['red', 'green', 'blue'], **query)
#mask invalid data removes clouds/shadows
data = mask_invalid_data(data)
data