In [1]:
import xarray as xr
import pandas as pd
%matplotlib inline

In [3]:
ds=xr.open_dataset('/g/data/oe9/project/team-drip/h30v12_reflectance_2001.nc')
ds

<xarray.Dataset>
Dimensions:          (time: 92, x: 2400, y: 1680)
Coordinates:
  * time             (time) datetime64[ns] 2001-01-01 2001-01-05 2001-01-09 ...
  * x                (x) float64 1.334e+07 1.334e+07 1.334e+07 1.334e+07 ...
  * y                (y) float64 -3.336e+06 -3.336e+06 -3.337e+06 -3.337e+06 ...
Data variables:
    red_630_690      (time, y, x) float32 ...
    nir1_780_900     (time, y, x) float32 ...
    blue_450_520     (time, y, x) float32 ...
    green_530_610    (time, y, x) float32 ...
    nir2_1230_1250   (time, y, x) float32 ...
    swir1_1550_1750  (time, y, x) float32 ...
    swir2_2090_2350  (time, y, x) float32 ...

In [20]:
year=range(2001,2018)

for y in year:
    fname=('/g/data/oe9/project/team-drip/h30v12_reflectance_{}.nc'.format(y))
    print(fname)

/g/data/oe9/project/team-drip/h30v12_reflectance_2001.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2002.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2003.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2004.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2005.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2006.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2007.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2008.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2009.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2010.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2011.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2012.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2013.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2014.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2015.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2016.nc
/g/data/oe9/project/team-drip/h30v12_reflectance_2017.nc

In [5]:
ds.time

<xarray.DataArray 'time' (time: 92)>
array(['2001-01-01T00:00:00.000000000', '2001-01-05T00:00:00.000000000',
       '2001-01-09T00:00:00.000000000', '2001-01-13T00:00:00.000000000',
       '2001-01-17T00:00:00.000000000', '2001-01-21T00:00:00.000000000',
       '2001-01-25T00:00:00.000000000', '2001-01-29T00:00:00.000000000',
       '2001-02-02T00:00:00.000000000', '2001-02-06T00:00:00.000000000',
       '2001-02-10T00:00:00.000000000', '2001-02-14T00:00:00.000000000',
       '2001-02-18T00:00:00.000000000', '2001-02-22T00:00:00.000000000',
       '2001-02-26T00:00:00.000000000', '2001-03-02T00:00:00.000000000',
       '2001-03-06T00:00:00.000000000', '2001-03-10T00:00:00.000000000',
       '2001-03-14T00:00:00.000000000', '2001-03-18T00:00:00.000000000',
       '2001-03-22T00:00:00.000000000', '2001-03-26T00:00:00.000000000',
       '2001-03-30T00:00:00.000000000', '2001-04-03T00:00:00.000000000',
       '2001-04-07T00:00:00.000000000', '2001-04-11T00:00:00.000000000',
       '2001-04-15T00:00:00.000000000', '2001-04-19T00:00:00.000000000',
       '2001-04-23T00:00:00.000000000', '2001-04-27T00:00:00.000000000',
       '2001-05-01T00:00:00.000000000', '2001-05-05T00:00:00.000000000',
       '2001-05-09T00:00:00.000000000', '2001-05-13T00:00:00.000000000',
       '2001-05-17T00:00:00.000000000', '2001-05-21T00:00:00.000000000',
       '2001-05-25T00:00:00.000000000', '2001-05-29T00:00:00.000000000',
       '2001-06-02T00:00:00.000000000', '2001-06-06T00:00:00.000000000',
       '2001-06-10T00:00:00.000000000', '2001-06-14T00:00:00.000000000',
       '2001-06-18T00:00:00.000000000', '2001-06-22T00:00:00.000000000',
       '2001-06-26T00:00:00.000000000', '2001-06-30T00:00:00.000000000',
       '2001-07-04T00:00:00.000000000', '2001-07-08T00:00:00.000000000',
       '2001-07-12T00:00:00.000000000', '2001-07-16T00:00:00.000000000',
       '2001-07-20T00:00:00.000000000', '2001-07-24T00:00:00.000000000',
       '2001-07-28T00:00:00.000000000', '2001-08-01T00:00:00.000000000',
       '2001-08-05T00:00:00.000000000', '2001-08-09T00:00:00.000000000',
       '2001-08-13T00:00:00.000000000', '2001-08-17T00:00:00.000000000',
       '2001-08-21T00:00:00.000000000', '2001-08-25T00:00:00.000000000',
       '2001-08-29T00:00:00.000000000', '2001-09-02T00:00:00.000000000',
       '2001-09-06T00:00:00.000000000', '2001-09-10T00:00:00.000000000',
       '2001-09-14T00:00:00.000000000', '2001-09-18T00:00:00.000000000',
       '2001-09-22T00:00:00.000000000', '2001-09-26T00:00:00.000000000',
       '2001-09-30T00:00:00.000000000', '2001-10-04T00:00:00.000000000',
       '2001-10-08T00:00:00.000000000', '2001-10-12T00:00:00.000000000',
       '2001-10-16T00:00:00.000000000', '2001-10-20T00:00:00.000000000',
       '2001-10-24T00:00:00.000000000', '2001-10-28T00:00:00.000000000',
       '2001-11-01T00:00:00.000000000', '2001-11-05T00:00:00.000000000',
       '2001-11-09T00:00:00.000000000', '2001-11-13T00:00:00.000000000',
       '2001-11-17T00:00:00.000000000', '2001-11-21T00:00:00.000000000',
       '2001-11-25T00:00:00.000000000', '2001-11-29T00:00:00.000000000',
       '2001-12-03T00:00:00.000000000', '2001-12-07T00:00:00.000000000',
       '2001-12-11T00:00:00.000000000', '2001-12-15T00:00:00.000000000',
       '2001-12-19T00:00:00.000000000', '2001-12-23T00:00:00.000000000',
       '2001-12-27T00:00:00.000000000', '2001-12-31T00:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 2001-01-01 2001-01-05 2001-01-09 ...

In [ ]:
ndvi = (ds.nir-ds.red)/(ds.nir+ds.red)
ndvi